[Unit]
Description=Gunicorn instance to serve Crypto Internal Tools
After=network.target

[Service]
# Service User configuration
User=wsl2user
Group=wsl2user

# Directory configuration
WorkingDirectory=/home/wsl2user/crypto_app
Environment="PATH=/home/wsl2user/crypto_app/venv/bin"

# ExecStart command
# Using --access-logfile and --error-logfile to override config and use /var/log/crypto_app/
ExecStart=/home/wsl2user/crypto_app/venv/bin/gunicorn -c /home/wsl2user/crypto_app/gunicorn_config.py --access-logfile /var/log/crypto_app/access.log --error-logfile /var/log/crypto_app/error.log wsgi:app

# Restart configuration
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
